/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
form .lable {font-weight: 600;}
.form-input { margin-bottom: 10px; }
.form-submit input[type="submit"]{
	background: #FFB80F; 
	color: #000; 
	width: 100px;
	cursor: pointer;
	border: 1px solid #FFB80F;
	padding: 3px 0;
}
.error {
	background: rgba(255,0,28,0.58);
	margin-bottom: 10px;
	// width: 253px;
}
.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    // padding: 10px;
    margin-bottom: 20px;
    // border: 1px solid transparent;
    border-radius: 4px;
}